<form class="row g-3">
  <div class="col-md-6">
    <label for="inputName4" class="form-label">Nome do produto</label>
    <input type="name" class="form-control" id="inputName" placeholder="Insert the Name">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">ID do Produto</label>
    <input type="text" class="form-control" id="inputProduct" placeholder="Insert the ID">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Valor do Produto</label>
    <input type="text" class="form-control" id="inputValue" placeholder="Insert the Value">
  </div>
  <div class="col-12">
    
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div>
</form>