<partial name="_Carousel"/>
@{
    ViewData["Title"] = "Category - ";
}
<form>
    <div id="formulario">
<h1 id="titu">Cadastre suas categorias</h1>
Digite o ID da sua categoria: <input class="text_box" type="text" name="ID" placeholder="ID"><br><br>
Digite o nome da categoria: <input class="text_box" type="text" name="Category" placeholder="Categoria"><br><br>
Descrição do produto: <input class="text_box" type="text" name="Descricao" placeholder="Descrição"><br><br>
Imagem do produto URL: <input class="text_box" type="text" name="ImageURL" placeholder="URL da Imagem"><br><br>
    <div id="button">
<input class="botao" type="submit" name="cad" value="Cadastrar">
    </div>
    </div>
</form>

